body {
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
    width: 100%;
}

h1 {
    color: olive;
    font-family: sans-serif;
}

.homeClass_addedClass {
    background-color: chartreuse;
    border: black 2px solid;
    box-shadow: 10px 5px 2px;
}